h1
{
	color:red;
	border: 8px dashed rgb(255,100,80);
	background: #112233;
	text-align: center;

}

body
{
	background:#FFFFE0;
}

h3
{
	color:blue;
	border: 3px dashed rgb(900,121,101);
	background: orange;
	text-align: center;
}

h2
{
	text-align: center;
	border: 3px dashed rgb(123,431,000);
	background-color: grey;
	color:cyan;
}

h4
{
	color: #CC0066;
	font-size: 23px;
	border:3px dashed purple;
	background-color: #99CCFF;
}

h5
{
	color:teal;
	font-size: 19px;
	border:3px dashed red;
	background-color: #99ffff;
}

h6{
	color:white;
	background-color: black;
	text-align: center;
}